:root {
	--text_menu-slide : rgba(255, 255, 255, 0.3);
	--background-slide-bar: #0e0e23;
	--text_menu-active: #6259ca;
	--primary-bg-color: #6259ca;
    --primary-bg-hover: #403fad;
    --primary-transparentcolor: rgba(98, 89, 202, 0.16);
    --primary-bg-border: #6259ca;
    --dark-theme: #0e0e23;
    --dark-body: #24243e;
    --dark-border: rgba(255, 255, 255, 0.15);
    --dark-color: #d0d0e2;
    --dark-primary: #6259ca;
    --indigo: $indigo;
    --purple: $purple;
    --pink: #f1388b;
    --orange: $orange;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: $white;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
		--primary005: rgba(98, 89, 202, 0.05);
    --primary02: rgba(98, 89, 202, 0.2);
    --primary03: rgba(98, 89, 202, 0.3);
    --primary05: rgba(98, 89, 202, 0.5);
    --primary07: rgba(98, 89, 202, 0.7);
    --primary08: rgba(98, 89, 202, 0.8);
    --primary01: rgba(98, 89, 202, 0.1);
}