/******************* Reset CSS *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2em;
  background-color: var(--while-color);	
}
img {
	max-width: 100%;
  height: auto;
}
p{
	font-size: 18px;
	line-height: 36px;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#app {
	overflow: hidden;
}
.container_center {
	max-width: 100%;
  padding-left: 25px;
  padding-right: 15px;
  margin: 0 auto;
  transition: all 0.3s;
}
/*******************End Reset CSS *******************/
